<h1>Sign Up Here </h1>

<%= flash[:error] %>

<br><br>

<%= form_for @user do |f| %> 

<%= render partial: 'layouts/errors', locals: {object: @user} %>

    <%= f.label :username %>
    <%= f.text_field :username %>
    <br><br>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <br><br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br><br>
    <%= f.submit "Sign Up" %>


<% end %>