<h1> Show Page </h1>

Driver Name: <%= @driver.name %>

<br><br>

Driver's car: <%= @driver.car %>

<br><br>

Driver's Trips:
  <% @driver.trips.each do |trip| %>
    <li><%= link_to trip.client_name, driver_trip_path(@driver, trip) %></li> 
  <% end %>



<br><br>

<%= link_to "Current Driver List", drivers_path %>



<br><br>
<%= link_to "Client Dashboard", trips_path %>